@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("normalize.css");
@import url("components.css");
/* @import url('huma.css'); */

:root {
  --theme-ui-colors-border: #000;
  --theme-ui-colors-backgroundOffset: #fff;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.canvas-iframe {
  width: 100%;
  height: 100%;
  border: none;
  background: white;
}

.navbar {
  position: absolute !important;
}
button,
input {
  color: black !important;
}

html,
body {
  height: 100%;
}
